body{padding:0;font:14px "Lucida Grande",Helvetica,Arial,sans-serif; background-color: #f0ead6}
div{padding-left:80px}.header{padding:10px 16px;background:#30cbff;color:#ffffff}.content{padding:16px}.sticky{position:fixed;top:0;width:100%}.sticky+.content{padding-top:102px}a{color:#00B7FF}
